[package]
name = "rust_core"
version = "0.1.0"
edition = "2024"

[lib]
name = "rust_core"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.100"
csv = "1.4.0"
neon-wasi-http = "0.3.2"
serde = "1.0.228"
serde_json = "1.0.145"
tokio = "1.48.0"
